GEMINI_API_KEY=
REDIS_URL_not-using-this-one=
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=
GOOGLE_APPLICATION_CREDENTIALS=
SERPER_API_KEY=
REDIS_URL=
AXIOM_TOKEN=""
AXIOM_DATASET=
GOOGLE_SEARCH_CX=
GOOGLE_SEARCH_API_KEY=
JUST_SERP_KEY=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
ADMIN_SECRET=
ADMIN_EMAILS=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Buffer API
BUFFER_API_KEY=
BUFFER_PROFILE_ID=

# Scheduler Auth
SCHEDULER_SECRET=

CLOUD_RUN_URL=https://marketing-agent-917650305025.us-central1.run.app

